*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}
h1 {
    color: #F29F58;
    text-align: center;
}
@media (max-width: 600px)
{
    main
    {
        flex-direction: column;
        align-items: center;
    }
}
main
{
    height: 100vh;
    width: 100vw;
    background-color: #1B1833;
    color: white;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.clients, .cars, .contracts
{
    background-color: rgb(0, 0, 0);
    width: 33.33%;
    min-width: 200px;
    border-radius: 20px;
    padding: 10px;
}
.plus
{
    width: 20px;
    height: 20px;
    color: tomato;
}
.plus:hover
{
    color: azure;
    cursor: grab;
}
.title
{
    display: flex;
    justify-content: space-between;
}
form
{
    display: flex;
    flex-direction: column;
    display: hidden;
}
button
{
    width: 50px;
    height: 30px;
}
.car-identifier
{
    display: none;
}
.to-hide
{
    display: none;
}
.name-icon
{
    display: flex;
    justify-content: space-between;
}